

/* We have a lot of sections, so we use a custom dotted TOC in the footer. */

footer .slidev-toc {
    padding: 0;
    font-size: 15px;
    height: 1.2em;
    width: 300px;
    display: grid;
    grid-template-columns: repeat(30, 0fr);
    grid-auto-rows: auto;
    grid-auto-flow: row;
}
footer .slidev-toc-dot {
    display: inline-block;
    line-height: .5;
}
.FEATURE {
    background-image: linear-gradient(rgba(0, 0, 0, 0.333), rgba(0, 0, 0, 0.533)), url("https://source.unsplash.com/JgOeRuGD_Y4/medium"), linear-gradient(rgb(0, 0, 255), rgb(0, 0, 0)) !important;
}
.FEATURE h1 {
    color: grey !important;
}
.FEATURE h1~div {
    color: white !important;
    font-size: 3.35rem !important;
}
